<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Event Points - Event Join!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="header container-fluid">
    <h1 class="display-1 text-center">Available Events?</h1>
</div>

<!-- TO-DO : List events? Scan QR codes to join event? Enter event id? How are we doing this? -->
<div class="wrap container content">
	<div class="card">
		<div class="card-body">
		
		<h2>Why use Event Points?</h2>
		<h3>If you're attending an event</h3>
		<ul>
			<li>Scan codes to get points</li>
			<li>Transfer points to and from your friends (if you want)</li>
			<li>Redeem your points for prizes</li>
		</ul>

		<h3>If you're organizing an event</h3>
		<ul>
			<li>Increase engagement by incentivizing interactions</li>
			<li>Keep track of how points are moving around</li>
			<li></li>
		</ul>

		<p>Increase engagement with localized digital currency <em>(points)</em>, by letting your guests scan QR codes. Super simple: scan codes, get points. You decide how your guests should redeem their points, and you're in control</p>
		</div>
	</div>
</div>

<div class="footer text-center fixed-bottom">
	<p>Made by <a href="https://github.com/NullTermin8">Null Termin8</a> at <a href="https://www.nwhacks.io/">NWHacks 2018</a></p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="../dist/bundle.js"></script>
</body>
