<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tickets - <% title %></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>
<body>
<div class="header container-fluid">
	<h1>Event Tickets</h1>
	<div class="head-links">
		<ul>
			<li><a href="#events">Events</a></li>
			<li><a href="#transfer">Transfer</a></li>
			<li><a href="#profile">Profile</a></li>
		</ul>
	</div>
</div>
<div class="wrap container">
	<!-- Temp body -->
	<!-- <div class="loginMenu">
		<input type="text" placeholder="Username">
		<br />
		<input type="text" placeholder="Password">
		<br />
		<p>Forgot your password?</p>
		<button class="btn btn-primary">Login</button>
		<button class="btn btn-secondary btn-lg">Register</button>
	</div> -->

	<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
	<div class="row">
		<div class="col">
			<p>Forgot your password?</p>
		</div>
		<div class="col">
	  	<button type="submit" class="btn btn-primary float-right">Submit</button>
		</div>
	</div>
</form>



	<div class="content">
		<h2>Sample Title</h2>

		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id malesuada libero, eu convallis leo. Suspendisse sit amet elit at nisl faucibus dignissim. Nam sed diam pretium, luctus mauris et, tempor augue. Donec non lobortis sem, ac rhoncus metus. Phasellus sapien ex, porta non sem et, fermentum interdum mauris. Proin eu ipsum vitae mi aliquam aliquet. Quisque hendrerit sagittis dui. Nunc venenatis lectus eu nisl viverra feugiat. Vivamus ut rhoncus diam, ut pellentesque magna. Cras a commodo tortor. Mauris dictum facilisis luctus. Pellentesque at nisi felis.</p>

		<p>Etiam tristique bibendum elementum. Duis egestas nibh ut pharetra placerat. Duis ut ipsum tempor, varius nunc quis, feugiat neque. Nam ullamcorper lectus facilisis, lacinia ipsum vel, lacinia magna. Maecenas aliquet urna vel sem interdum, vitae cursus ex ultrices. Ut enim tellus, rhoncus non sem id, vehicula bibendum purus. Ut imperdiet condimentum nulla nec malesuada. In pretium bibendum justo a convallis. Nulla vitae porttitor purus. Mauris non ultricies orci. </p>
	</div>

	<div class="content">
		<h2>Sample 2</h2>

		<p>Pellentesque eu sollicitudin magna, eget semper turpis. Fusce vehicula ligula felis, quis efficitur turpis eleifend id. Vivamus commodo cursus faucibus. Etiam nisi mi, aliquet non ante sit amet, volutpat dapibus nulla. Phasellus venenatis cursus magna, et pretium leo pretium nec. Nullam pharetra tempor est, non lacinia leo. Sed sollicitudin ligula et tempor porta. Duis porta molestie purus, rhoncus cursus nulla ultrices ultrices. Proin fringilla vulputate scelerisque.</p>
	</div>
</div>
<div class="footer">
	<p>Made by <a href="https://github.com/NullTermin8">Null Termin8</a> at <a href="https://www.nwhacks.io/">NWHacks 2018</a></p>
</div>
</body>
