body {
	/* background-color: #A6D0DB; */
}

h1 a {
	text-decoration: none;
	color: #333;
}

h1 a:hover {
	text-decoration: none;
	color: #555;
}

.wrap {
	margin-bottom: 4rem;
}

.footer {
	margin-top: 2rem;
	background: #A6D0DB;
	padding-top: 0.5rem;
}

.footer a {
	color: #96903B;
	font-weight: 600;
}

.signup {
	margin-bottom: 1rem;
}

#scanLabel {
	font-size: 40px;
	font-weight: 500;
}
